.item img {
    width: 100%;
}

h5 {
    text-transform: uppercase;
    color: #A1ADB5;
}

.dodont, .terms {
    background: #231E1B;
    margin-top: 25px;
    padding: 40px;
    border: 1px solid #2D2622;
    border-radius: 10px;
}

.process, .pricing {
    margin-top: 25px;
    padding: 40px;
    border: 1px dashed #EBBC9F;
    border-radius: 10px;
}

.process, .terms, .pricing {
    margin-top: 25px;
}

.process h5 {
    margin-top: 10px;
}

.price {
    background-color: #A1ADB5;
    display: inline;
    color: #231E1B;
    border-radius: 10px;
    padding: 1px 7px;
}

.examples img {
    max-width: 100%;
    border-radius: 5px;
}

.pricing .item {
    margin-bottom: 25px;
}

.pricing button {
    width: auto;
}

.pricing p {
    margin: 0;
}

.toggle {
    background-color: transparent;
    margin: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #A1ADB5;
    padding: 5px 0;
    color: #A1ADB5;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

.toggle:hover {
    opacity: 0.25;
}

.examples:hover > .art {
    opacity: 0.25;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

.examples:hover > .art:hover {
    opacity: 1;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}