.gallery {
    margin-top: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #F5E9DD;
}

.gallery:hover > .art {
    opacity: 0.5;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

.gallery:hover > .art:hover {
    opacity: 1;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}