#container {
    width: 50vw;
}

#container h1 {
    text-align: center;
}

#menu {
    margin-top: 25px;
}

.item {
    width: 100%;
    margin-bottom: 20px;
    float: left;
}

#menu a {
    color: #F5E9DD;
    text-decoration: none;
}

.gummy {
    width: 15%;
    margin-right: 15px;
    float: left;
}

#menu img {
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid #F5E9DD;
}

.line {
    width: 55%;
    height: 3px;
    margin-top: 8%;
    border-bottom: 3px dotted #F5E9DD;
    opacity: 0.5;
}

.page {
    width: 20%;
    margin-top: calc(-1 * (7.5pt + 3px));
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 15pt;
    letter-spacing: 0.5pt;
    float: right;
    text-align: right;
}

#menu:hover > .m {
    opacity: 0.25;
}

#menu:hover > .m:hover {
    opacity: 1;
}

.mobile {
    padding: 100px 10%;
}

.mobile h1 {
    margin: 0;
    padding: 0;
}

.mobile ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.mobile li {
    list-style-type: none;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.mobile img {
    margin-bottom: 10px;
}

.mobile a:hover {
    opacity: 0.25;
}