* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/lozenge.png');
    background-color: #231E1B;
    color: #F5E9DD;
    font: 15.5pt "Goudy Bookletter 1911", Times;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: "Homemade Apple", cursive;
    color: #A1ADB5;
}

a {
    color: #A1ADB5;
    border-bottom: 1px dashed #A1ADB5;
    text-decoration: none;
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

a:hover {
    color: #A1ADB5;
    border-bottom: none;
    opacity: .25;
}